.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  flex-grow: 1;
  margin: 10px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
